.gradient-background {
    background: linear-gradient(300deg, #2b69ef, #0a88b6, #2602a8);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .container {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border: none;
  }

  .name {
    font-family: 'Permanent Marker', cursive;
  }

  .greeting {
    font-family: 'Permanent Marker', cursive;
  }

  .active {
    color: white;
}

h1 h2 h3 h4 h5 p {
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

  .image {
    border: 10px inset gray;
    margin-top: 0%;
    padding-top: 0%;  
  }

.icon {
    border: 2px solid black;
}

  .lead {
    font-weight: 400;
    font-family: sans-serif;
    width: fit-content;
  }

  @media (max-width: 400px) {
    .name {
       text-align: center;
       font-size: 20px;
     } 

     .image {
      max-height: 200px;
     }

     .col-sm {
      font-size: 20px;
      padding: 10px;
      margin: 0px;
     }
  }
